#titulo{
    color: lightseagreen;
}

#titulo > strong {
    color: red;
}

strong{
    color: red;
}

.destacado{
    color: orange;
}

#subtitulo{
    color: blue;
}

a{
    color: red;
}

a > em{
    color: blue;
}

.especial {
    /* No funciona */
    color: blueviolet;
}

table {
    border-collapse: collapse;
}

td, th{
    padding: 10px;
    margin: 0;
    border: 1px solid black;
}

table > caption{
    color: blue;
}

table td{
    color: green;
}

table .especial, table strong{
    color: orange;
}

table th{
    color: red;
}

#adicional{
    color: darkolivegreen;
}

#adicional #especial{
    color: pink;
}

#adicional a{
    color: darkgreen;
}

