table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td, th{
    margin: 0;
    padding: 8px;
    border: 1px solid #333;
}

img{
    float: left;
}

.alternative td, .alternative th{
    background-color: #FFFFCC;
}